In [3]:
# Question 01

from math import pi
r=float(input("enter Radious:"))
area=float(pi*r**2)
print(area)

enter Radious:1.1
3.8013271108436504

In [8]:
# Question 02

first_name=input("Enter your First Name:")
last_name=input("Enter your last name:")
print("hello "+last_name+" "+first_name)

Enter your First Name:Ashiq
Enter your last name:ansary
hello ansary Ashiq

In [10]:
# Question 03

x="BANGLADESH"
print(x)

print(len(x))

BANGLADESH
10

In [26]:
# Question 04

a="google.com"

st_1=a.count("g")
st_2=a.count("o")
st_3=a.count("l")
st_4=a.count("e")
st_5=a.count("c")
st_6=a.count("m")

print("g:"+str(st_1),"o:"+str(st_2),"l:"+str(st_3),"e:"+str(st_4),"c:"+str(st_5),"m:"+str(st_6))

g:2 o:3 l:1 e:1 c:1 m:1

In [32]:
# Question 05

a="abc"
b="xyz"

x=a[0:2]

a=a.replace(a[0:2],b[0:2])
b=b.replace(b[0:2],x)

print(a,b)

xyc abz

In [42]:
# Question 07

numbers=[2,3,4,5,6,7]
add =sum(numbers)
print(add)

27

In [54]:
# Question 08

import math
list1=[2,3,6]
result1 = math.prod(list1)
print(result1)

36

In [44]:
# Question 09

num=[23,45,62,12,45,7,79,23,56]
largest=max(num)
print(largest)

79

In [45]:
# Question 10

my_list=[2,4,5,6,4,5,8,8,9,12,23,45,34,34,23,12,12,11,34,45,3,4,5,6,]
uni_num=set(my_list)
print(uni_num)

{2, 34, 4, 5, 6, 3, 8, 9, 11, 12, 45, 23}

In [51]:
# Question 11

ccolor = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']  
color = [x for (i,x) in enumerate(color) if i not in (0,4,5)]  
print(color)

['Green', 'White', 'Black']

In [56]:
# Question 16

num = int(input("Enter a number: "))
mod = num % 2
if mod > 0:
    print("This is an odd number.")
else:
    print("This is an even number.")

Enter a number: 13
This is an odd number.

In [5]:
# Question 18
age = int(input("Enter Age : "))

if age>=18:
        status="congratulation!!! you can cast your vote"
else:
    status="Not Eligible for casting vote"

print(status)

Enter Age : 12
Not Eligible for casting vote

In [1]:
lst=[]
n=int(input("Enter number of elements:"))
for i in range(0,n):
    ele = int(input())
    lst.append(ele)
    lst.sort()
    print(lst)
    print ("largest 3 number are:",lst[-3:])

Enter number of elements:10
34
[34]
largest 3 number are: [34]
23
[23, 34]
largest 3 number are: [23, 34]
12
[12, 23, 34]
largest 3 number are: [12, 23, 34]
78
[12, 23, 34, 78]
largest 3 number are: [23, 34, 78]
89
[12, 23, 34, 78, 89]
largest 3 number are: [34, 78, 89]
56
[12, 23, 34, 56, 78, 89]
largest 3 number are: [56, 78, 89]
36
[12, 23, 34, 36, 56, 78, 89]
largest 3 number are: [56, 78, 89]
12
[12, 12, 23, 34, 36, 56, 78, 89]
largest 3 number are: [56, 78, 89]
123
[12, 12, 23, 34, 36, 56, 78, 89, 123]
largest 3 number are: [78, 89, 123]
45
[12, 12, 23, 34, 36, 45, 56, 78, 89, 123]
largest 3 number are: [78, 89, 123]

In [5]:
n=int(input("enter number of elements:"))
i=1
while i<=n:
    print(i),
    i=i+1

enter number of elements:10
1
2
3
4
5
6
7
8
9
10

In [2]:
n=int(input("enter number of elements:"))
i=1
while i<=n:
    print(i),
    i=i+1
    
n=[i]
type(n)
#res=sum(n)
#print(res)

enter number of elements:4
1
2
3
4

list

In [31]:
row=4
for i in range(row+1):  
    print(i*'*')

*
**
***
****

In [38]:
#Question no-38

for i in range(0, 10, 2):
    print(i, end=" ")

0 2 4 6 8

In [3]:
#Question no-39

for i in range(100, 160, 10):
    print(i, end=" ")
lst=[i]
type(lst)

100 110 120 130 140 150

list